#elem {
    color: #006;
    background-color: #aaa;
    font-size: 25px;
    padding: 1em;
    text-align: center;
  }

   #baiye {
    width: 100px;
    height: 100px;
    background: #ccc;
  }

  #bounce {
    width: 100px;
    height: 100px;
    background: #ccc;
  }